.places {
    margin: 0 148px 92px;
    display: grid;
    row-gap: 80px;
}

@media screen and (max-width: 1124px) {
    .places {
        margin: 0 48px 92px;
    }
}

@media screen and (max-width: 984px) {
    .places {
        margin: 0 24px 90px;
        row-gap: 73px;
    }
}
 
@media screen and (max-width: 749px) {
    .places {
        margin: 0 0 66px;
        row-gap: 50px;
    }
}