.footer__links {
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 18px;
    display: flex;
}


@media screen and (max-width: 696px) {
    .footer__links {
        display: grid;
        row-gap: 32px;
        min-height: 248px;
        margin: 0 0 48px;
    }
}