.lead__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.20;
    text-align: center;
    align-self: center;
    color: #FFFFFF;
    margin: 0 auto 64px;
    min-height: 72px;
    max-width: 640px;
}

@media screen and (max-width: 1124px) {
    .lead__subtitle {
        min-height: 72px;
        margin: 0 64px 56px;
        }
}

@media screen and (max-width: 680px) {
    .lead__subtitle {
        font-size: 24px;
        } 
}    

@media screen and (max-width: 568px) {
    .lead__subtitle {
        min-height: 40px;
        margin: 0 16px 40px;
        font-size: 16px;
        line-height: 1.25;
        align-self: center;
        }
}